<section class="benefits">
  <div class="container">
    <div class="benefits__top">
      <h2 class="section-title benefits__title">Our core values</h2>
      <div class="section-subtitle benefits__subtitle">
        <p>
          Our mission is to set the highest standards for construction sphere.
        </p>
      </div>
    </div>

    <div class="benefits__content">
      <ul class="benefits__items">
        <li class="benefits__item benefits__item--quality">
          <div class="benefits__item-inner benefits__item-inner--quality">
            <h3 class="sr-only">our benefits</h3>
            <h4 class="benefits__item-title">Quality</h4>
            <div class="benefits__item-text">
              <p>
                Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
              </p>
            </div>
          </div>
        </li>
        <li class="benefits__item benefits__item--safety">
          <div class="benefits__item-inner benefits__item-inner--safety">
            <h3 class="sr-only">our benefits</h3>
            <h4 class="benefits__item-title">Safety</h4>
            <div class="benefits__item-text">
              <p>
                Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
              </p>
            </div>
          </div>
        </li>
        <li class="benefits__item benefits__item--comfort">
          <div class="benefits__item-inner benefits__item-inner--comfort">
            <h3 class="sr-only">our benefits</h3>
            <h4 class="benefits__item-title">Comfort</h4>
            <div class="benefits__item-text">
              <p>
                Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>