<section class="details">
  <div class="container">
    <form class="details__form">
      <h3 class="details__title">A quick way to discuss details</h3>
      <label class="details__label">
        <span>Name*</span>
        <input class="details__input" type="text" placeholder="Your name">
      </label>

      <label class="details__label">
        <span>Phone*</span>
        <input class="details__input" type="tel" placeholder="Your phone number">
      </label>

      <label class="details__label">
        <span>Email</span>
        <input class="details__input" type="email" placeholder="Your working email">
      </label>

      <label class="details__label">
        <span>Message*</span>
        <textarea class="details__textarea" placeholder="Your message"></textarea>
      </label>

      <label class="details__label-check">
        <input class="details__input-check" type="checkbox">
        <span class="details__check-style"></span>
        <span class="details__check-text">
          I agree to receive communications from Createx Construction Bureau.
        </span>
      </label>

      <button class="details__btn button button--fill" type="submit">send request</button>
    </form>
  </div>
</section>