<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__top-item">
        <div class="footer__top-box">
          <div class="logo logo--footer">
            <a class="logo__link" href="#">
              <img class="logo__img" src="images/footer/logo-light.png" alt="logotype">
            </a>
          </div>

          <ul class="socials">
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg class="socials__svg" width="24" height="24">
                  <use xlink:href="images/svg-sprite/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg class="socials__svg" width="24" height="24">
                  <use xlink:href="images/svg-sprite/sprite.svg#messanger"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg class="socials__svg" width="24" height="24">
                  <use xlink:href="images/svg-sprite/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg class="socials__svg" width="24" height="24">
                  <use xlink:href="images/svg-sprite/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg class="socials__svg" width="24" height="24">
                  <use xlink:href="images/svg-sprite/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="footer__text">
          <p>
            Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We
            are proud to
            offer you quality construction and exemplary service. Our mission is to set the highest standards for
            construction
            sphere.
          </p>
        </div>
      </div>

      <div class="footer__top-item">
        <h4 class="footer__item-title">Let’s stay in touch</h4>
        <form class="footer__form">
          <input class="footer__input" type="email" placeholder="Your email address ">
          <button class="button button--fill footer__btn">subscribe</button>
        </form>
        <div class="footer__form-text">
          *Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.
        </div>
      </div>
    </div>

    <div class="footer__info-box">
      <ul class="footer__info-items">
        <li class="footer__info-item">
          <h5 class="footer__info-title">head office</h5>
          <ul class="footer__info-list">
            <li class="footer__menu-item">
              <address class="footer__menu-link footer__menu-link--nolink">
                <span>Address:</span> 8502 Preston Rd. Inglewood, New York
              </address>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="tel:4050000000">
                <span>Call:</span> (405) 000-00-00
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="mailto:example@gmail.com">
                <span>Email:</span> example@gmail.com
              </a>
            </li>
          </ul>
        </li>

        <li class="footer__info-item">
          <h5 class="footer__info-title">who we are</h5>
          <nav class="footer__nav">
            <ul class="footer__menu">
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">About Us</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">Available Positions</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">Contacts</a>
              </li>
            </ul>
          </nav>
        </li>

        <li class="footer__menu-item">
          <h5 class="footer__info-title">our experience</h5>
          <nav class="footer__nav">
            <ul class="footer__menu">
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">Services</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">Work</a>
              </li>
              <li class="footer__menu-item">
                <a class="footer__menu-link" href="#">News</a>
              </li>
            </ul>
          </nav>
        </li>
      </ul>
    </div>

    <div class="footer__copy">
      &copy;&nbsp;All rights reserved. Made with by&nbsp; <span>Createx Studio</span>
    </div>
  </div>

  <div class="gotop">
    <span class="gotop__text">go to top</span>
    <a class="gotop__link" href="#top">
      <svg class="gotop__svg" width="16" height="9">
        <use xlink:href="images/svg-sprite/sprite.svg#up"></use>
      </svg>
    </a>
  </div>
</footer>