<section class="news">
  <div class="container">
    <div class="news__top">
      <h2 class="news__title section-title">Categories</h2>

      <ul class="news__buttons">
        <li class="news__buttons-item">
          <button class="news__btn filter2 active" type="button" data-filter="all">All News</button>
        </li>
        <li class="news__buttons-item">
          <button class="news__btn filter2" type="button" data-filter=".company">Company News</button>
        </li>
        <li class="news__buttons-item">
          <button class="news__btn filter2" type="button" data-filter=".innovation">Innovation</button>
        </li>
        <li class="news__buttons-item">
          <button class="news__btn filter2" type="button" data-filter=".industry">Industry News</button>
        </li>
        <li class="news__buttons-item">
          <button class="news__btn filter2" type="button" data-filter=".expert">Expert Tips</button>
        </li>
        <li class="news__buttons-item">
          <button class="news__btn filter2" type="button" data-filter=".marketing">Marketing</button>
        </li>
      </ul>
    </div>

    <div class="news__content">
      <ul class="news__list filter2">
        <li class="news__item mix company">
          <article class="news__article">
            <img class="news__img" src="images/news/1.jpg" alt="news image">
            <div class="news__text-box">
              <a class="news__item-titlelink" href="news-single-page.html">
                <h4 class="news__item-title">How to Build Climate Change-Resilient Infrastructure</h4>
              </a>
              <div class="news__meta">
                <a class="news__meta-link" href="#">Industry News</a>
                <span class="news__meta-link">June 24, 2020</span>
                <a class="news__meta-link" href="#">4 comments</a>
              </div>
              <div class="news__text">
                <p>
                  Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel,
                  venenatis nulla.
                  Integer bibendum turpis convallis...
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="news__item mix innovation">
          <article class="news__article">
            <img class="news__img" src="images/news/2.jpg" alt="news image">
            <div class="news__text-box">
              <a class="news__item-titlelink" href="#">
                <h4 class="news__item-title">How Construction Can Help Itself</h4>
              </a>
              <div class="news__meta">
                <a class="news__meta-link" href="#">Innovation</a>
                <span class="news__meta-link">June 12, 2020</span>
                <a class="news__meta-link" href="#">No comments</a>
              </div>
              <div class="news__text">
                <p>
                  Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque.
                  Rhoncus augue faucibus
                  maecenas lacus...
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="news__item mix expert">
          <article class="news__article">
            <img class="news__img" src="images/news/3.jpg" alt="news image">
            <div class="news__text-box">
              <a class="news__item-titlelink" href="#">
                <h4 class="news__item-title">The Difference Between a Digger and an Excavator</h4>
              </a>
              <div class="news__meta">
                <a class="news__meta-link" href="#">Expert Tips</a>
                <span class="news__meta-link">May 16, 2020</span>
                <a class="news__meta-link" href="#">No comments</a>
              </div>
              <div class="news__text">
                <p>
                  Cras est nisi purus velit facilisi vitae, dolor. Lorem scelerisque integer duis et nulla lobortis
                  cursus. Viverra erat
                  sollicitudin praesent viverra...
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="news__item mix expert marketing">
          <article class="news__article">
            <img class="news__img" src="images/news/4.jpg" alt="news image">
            <div class="news__text-box">
              <a class="news__item-titlelink" href="#">
                <h4 class="news__item-title">Building Construction Hand Tools</h4>
              </a>
              <div class="news__meta">
                <a class="news__meta-link" href="#">Expert Tips</a>
                <span class="news__meta-link">February 25, 2020</span>
                <a class="news__meta-link" href="#">1 comment</a>
              </div>
              <div class="news__text">
                <p>
                  Tellus quis aliquet volutpat nunc pulvinar donec sed sapien. Vitae elit id dolor, tristique massa.
                  Fames lobortis orci
                  rutrum bibendum integer...
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="news__item mix industry">
          <article class="news__article">
            <img class="news__img" src="images/news/5.jpg" alt="news image">
            <div class="news__text-box">
              <a class="news__item-titlelink" href="#">
                <h4 class="news__item-title">Top 10 Construction Trends</h4>
              </a>
              <div class="news__meta">
                <a class="news__meta-link" href="#">Industry News</a>
                <span class="news__meta-link">January 14, 2020</span>
                <a class="news__meta-link" href="#">No comments</a>
              </div>
              <div class="news__text">
                <p>
                  Dignissim sed enim, eleifend morbi condimentum. Congue id quis vulputate dignissim eget. Ac
                  ullamcorper nunc habitasse
                  enim interdum platea...
                </p>
              </div>
            </div>
          </article>
        </li>
        <li class="news__item mix company">
          <article class="news__article">
            <img class="news__img" src="images/news/6.jpg" alt="news image">
            <div class="news__text-box">
              <a class="news__item-titlelink" href="#">
                <h4 class="news__item-title">Types of Flooring Materials</h4>
              </a>
              <div class="news__meta">
                <a class="news__meta-link" href="#">Company News</a>
                <span class="news__meta-link">December 1, 2019</span>
                <a class="news__meta-link" href="#">No comments</a>
              </div>
              <div class="news__text">
                <p>
                  Maecenas donec lacinia nunc, quam sit magnis mauris. Neque bibendum et mauris, aenean. Vel arcu amet
                  in sem parturient
                  integer duis et nulla...
                </p>
              </div>
            </div>
          </article>
        </li>
      </ul>

      <div class="news__pagination">
        <ul class="news__pagination-list">
          <li class="news__pagination-item active">
            <span class="news__pagination-link">1</span>
          </li>
          <li class="news__pagination-item">
            <a class="news__pagination-link" href="#">2</a>
          </li>
          <li class="news__pagination-item">
            <a class="news__pagination-link" href="#">3</a>
          </li>
          <li class="news__pagination-item">
            <a class="news__pagination-link" href="#">4</a>
          </li>
        </ul>
        <a class="news__arrow-link" href="#">
          <svg class="news__pagination-arrow" width="24" height="24">
            <use xlink:href="images/svg-sprite/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>