<section class="offer">
  <div class="container">
    <div class="offer__inner">
      <ul class="offer__items">
        <li class="offer__item">
          <img class="offer__img" src="images/services/offer/1.jpg" alt="construction image">
          <div class="offer__text-box">
            <h3 class="offer__title">Construction</h3>
            <div class="offer__text">
              <p>
                Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque
                nisi, nibh. Enim
                semper id sodales ultricies sed ut ut augue. Mattis habitant venenatis, gravida posuere massa ac
                interdum. Eget aliquam
                dignissim ut vestibulum.
              </p>
            </div>
            <a class="button button--stroke offer__btn" href="#">Learn more</a>
          </div>
        </li>
        <li class="offer__item">
          <div class="offer__text-box">
            <h3 class="offer__title">Project Development</h3>
            <div class="offer__text">
              <p>
                Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet viverra in. Est nulla lectus purus
                tincidunt massa
                tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget.
              </p>
            </div>
            <a class="button button--stroke offer__btn" href="#">Learn more</a>
          </div>
          <img class="offer__img" src="images/services/offer/2.jpg" alt="construction image">
        </li>
        <li class="offer__item">
          <img class="offer__img" src="images/services/offer/3.jpg" alt="construction image">
          <div class="offer__text-box">
            <h3 class="offer__title">Interior Design</h3>
            <div class="offer__text">
              <p>
                Eleifend orci massa et facilisis orci feugiat ac. Congue in ut lacus, turpis accumsan gravida. Aliquet
                mattis dignissim
                massa sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel eget molestie. Turpis enim arcu, amet
                donec massa
                pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium.
              </p>
            </div>
            <a class="button button--stroke offer__btn" href="#">Learn more</a>
          </div>
        </li>
        <li class="offer__item">
          <div class="offer__text-box">
            <h3 class="offer__title">Repairs</h3>
            <div class="offer__text">
              <p>
                Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum commodo, tortor gravida pretium, orci.
                Nunc sit
                sollicitudin id egestas mattis. Turpis viverra nec urna ultrices urna.
              </p>
            </div>
            <a class="button button--stroke offer__btn" href="#">Learn more</a>
          </div>
          <img class="offer__img" src="images/services/offer/4.jpg" alt="construction image">
        </li>
      </ul>
    </div>
  </div>
</section>