<section class="offices">
  <div class="container">
    <div class="benefits benefits--offices">
      <div class="benefits__top benefits__top--offices">
        <h2 class="section-title benefits__title benefits__title--offices">Our offices</h2>
        <div class="section-subtitle benefits__subtitle benefits__subtitle--offices">
          <p>
            Give us a call, send us a note or visit our office. We can’t wait to hear from you!
          </p>
        </div>
      </div>

      <div class="benefits__content">
        <ul class="benefits__items">
          <li class="benefits__item benefits__item--offices">
            <div class="benefits__item-inner benefits__item-inner--offices">
              <h3 class="sr-only">our offices</h3>
              <h4 class="benefits__item-officetitle">New York, USA</h4>
              <div class="benefits__item-wrap benefits__item-wrap--offices">
                <address class="benefits__address">
                  8502 Preston Rd. Inglewood, New York 98380
                </address>
                <div class="benefits__link-box benefits__link-box--offices">
                  <a class="benefits__link" href="#">See on the map</a>
                </div>
                <ul class="benefits__contact">
                  <li class="benefits__contact-item">
                    <span>Call:</span>
                    <a class="benefits__contact-link" href="tel:4050000000">(405) 000-00-00</a>
                  </li>
                  <li class="benefits__contact-item">
                    <span>Email:</span>
                    <a class="benefits__contact-link" href="mailto:example@gmail.com">example@gmail.com</a>
                  </li>
                  <li class="benefits__contact-item">
                    <span>Schedule:</span>
                    <div class="benefits__contact-link">
                      Mon - Fri 9:00 - 18:00
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="benefits__item benefits__item--offices">
            <div class="benefits__item-inner benefits__item-inner--offices">
              <h3 class="sr-only">our offices</h3>
              <h4 class="benefits__item-officetitle">New Jersey, USA</h4>
              <div class="benefits__item-wrap benefits__item-wrap--offices">
                <address class="benefits__address">
                  2464 Royal Ln. Mesa, New Jersey 45463
                </address>
                <div class="benefits__link-box benefits__link-box--offices">
                  <a class="benefits__link" href="#">See on the map</a>
                </div>
                <ul class="benefits__contact">
                  <li class="benefits__contact-item">
                    <span>Call:</span>
                    <a class="benefits__contact-link" href="tel:8085550111">(808) 555-0111</a>
                  </li>
                  <li class="benefits__contact-item">
                    <span>Email:</span>
                    <a class="benefits__contact-link" href="mailto:example@gmail.com">example@gmail.com</a>
                  </li>
                  <li class="benefits__contact-item">
                    <span>Schedule:</span>
                    <div class="benefits__contact-link">
                      Mon - Fri 9:00 - 18:00
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="benefits__item benefits__item--offices">
            <div class="benefits__item-inner benefits__item-inner--offices">
              <h3 class="sr-only">our offices</h3>
              <div class="benefits__item-wrap benefits__item-wrap--offices">
                <h4 class="benefits__item-officetitle">San Francisco, USA</h4>
                <address class="benefits__address">
                  8502 Preston Rd. Inglewood, San Francisco 98380
                </address>
                <div class="benefits__link-box benefits__link-box--offices">
                  <a class="benefits__link" href="#">See on the map</a>
                </div>
                <ul class="benefits__contact">
                  <li class="benefits__contact-item">
                    <span>Call:</span>
                    <a class="benefits__contact-link" href="tel:5055550125">(505) 555-0125</a>
                  </li>
                  <li class="benefits__contact-item">
                    <span>Email:</span>
                    <a class="benefits__contact-link" href="mailto:example@gmail.com">example@gmail.com</a>
                  </li>
                  <li class="benefits__contact-item">
                    <span>Schedule:</span>
                    <div class="benefits__contact-link">
                      Mon - Fri 10:00 - 18:00
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="offices__socials-box">
      <h3 class="offices__social-title section-title">Find us at</h3>

      <div class="media">
        <ul class="media__socials">
          <li class="media__socials-item media__socials-item--offices">
            <a class="media__link" href="#">
              <svg class="media__svg" width="32" height="32">
                <use xlink:href="images/svg-sprite/sprite.svg#whatsapp-32"></use>
              </svg>
            </a>
          </li>
          <li class="media__socials-item media__socials-item--offices">
            <a class="media__link" href="#">
              <svg class="media__svg" width="32" height="32">
                <use xlink:href="images/svg-sprite/sprite.svg#messanger-32"></use>
              </svg>
            </a>
          </li>
          <li class="media__socials-item media__socials-item--offices">
            <a class="media__link" href="#">
              <svg class="media__svg" width="32" height="32">
                <use xlink:href="images/svg-sprite/sprite.svg#facebook-32"></use>
              </svg>
            </a>
          </li>
          <li class="media__socials-item media__socials-item--offices">
            <a class="media__link" href="#">
              <svg class="media__svg" width="32" height="32">
                <use xlink:href="images/svg-sprite/sprite.svg#twitter-32"></use>
              </svg>
            </a>
          </li>
          <li class="media__socials-item media__socials-item--offices">
            <a class="media__link" href="#">
              <svg class="media__svg" width="32" height="32">
                <use xlink:href="images/svg-sprite/sprite.svg#youtube-32"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>