<section class="our">
  <div class="container">
    <div class="benefits our__benefits">
      <div class="benefits__top">
        <h2 class="section-title benefits__title">Our core values</h2>
        <div class="section-subtitle benefits__subtitle our__benefits-subtitle">
          <p>
            Our mission is to set the highest standards for construction sphere.
          </p>
        </div>
      </div>

      <div class="benefits__content">
        <ul class="benefits__items">
          <li class="benefits__item benefits__item--quality">
            <div class="benefits__item-inner benefits__item-inner--quality">
              <h3 class="sr-only">our benefits</h3>
              <h4 class="benefits__item-title">Quality</h4>
              <div class="benefits__item-text">
                <p>
                  Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
                </p>
              </div>
            </div>
          </li>
          <li class="benefits__item benefits__item--safety">
            <div class="benefits__item-inner benefits__item-inner--safety">
              <h3 class="sr-only">our benefits</h3>
              <h4 class="benefits__item-title">Safety</h4>
              <div class="benefits__item-text">
                <p>
                  Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
                </p>
              </div>
            </div>
          </li>
          <li class="benefits__item benefits__item--comfort">
            <div class="benefits__item-inner benefits__item-inner--comfort">
              <h3 class="sr-only">our benefits</h3>
              <h4 class="benefits__item-title">Comfort</h4>
              <div class="benefits__item-text">
                <p>
                  Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="our__history">
      <div class="our__history-box">
        <h3 class="our__history-title section-title">Our history</h3>
        <ul class="our__controls-list">
          <li class="our__controls-item" data-services="first">
            <a class="our__controls active" href="#tab-1">Present</a>
          </li>
          <li class="our__controls-item" data-services="second">
            <a class="our__controls" href="#tab-2">March 2019</a>
          </li>
          <li class="our__controls-item" data-services="third">
            <a class="our__controls" href="#tab-3">November 2018</a>
          </li>
          <li class="our__controls-item" data-services="fourth">
            <a class="our__controls" href="#tab-4">July 2015</a>
          </li>
          <li class="our__controls-item" data-services="fifth">
            <a class="our__controls" href="#tab-5">August 2010</a>
          </li>
          <li class="our__controls-item" data-services="sixth">
            <a class="our__controls" href="#tab-6">February 2007</a>
          </li>
          <li class="our__controls-item" data-services="seventh">
            <a class="our__controls" href="#tab-7">May 2004</a>
          </li>
          <li class="our__controls-item" data-services="eighth">
            <a class="our__controls" href="#tab-8">October 2001</a>
          </li>
          <li class="our__controls-item" data-services="ninth">
            <a class="our__controls" href="#tab-9">June 2000</a>
          </li>
        </ul>
      </div>

      <div class="our__tabs">
        <ul class="our__sliders">
          <li class="our__slider-box our__slider-box--first active" id="tab-1">
            <ul class="our__slider-items our__slider-items--1 ">
              <li class="our__slider-item">
                <img src="images/about/slides/9.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/2.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/3.jpg" alt="slide" class="our__slider-img">
              </li>
            </ul>

            <div class="our__slider-text">
              <p>
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae,
              </p>
            </div>
          </li>

          <li class="our__slider-box our__slider-box--second" id="tab-2">
            <ul class="our__slider-items our__slider-items--2 ">
              <li class="our__slider-item">
                <img src="images/about/slides/4.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/5.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/6.jpg" alt="slide" class="our__slider-img">
              </li>
            </ul>

            <div class="our__slider-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fugit, voluptatem ad debitis consequatur
                at aliquid vitae reprehenderit. Maxime quas odit repudiandae dolor alias magni ad architecto nemo
                maiores? Cupiditate?
              </p>
            </div>
          </li>

          <li class="our__slider-box our__slider-box--third" id="tab-3">
            <div>
              <ul class="our__slider-items our__slider-items--3 ">
                <li class="our__slider-item">
                  <img src="images/about/slides/7.jpg" alt="slide" class="our__slider-img">
                </li>
                <li class="our__slider-item">
                  <img src="images/about/slides/8.jpg" alt="slide" class="our__slider-img">
                </li>
                <li class="our__slider-item">
                  <img src="images/about/slides/9.jpg" alt="slide" class="our__slider-img">
                </li>
              </ul>

              <div class="our__slider-text">
                <p>
                  Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                  vitae
                  egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                  vitae,
                </p>
              </div>
            </div>
          </li>

          <li class="our__slider-box our__slider-box--fourth" id="tab-4">
            <ul class="our__slider-items our__slider-items--4 ">
              <li class="our__slider-item">
                <img src="images/about/slides/1.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/2.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/3.jpg" alt="slide" class="our__slider-img">
              </li>
            </ul>

            <div class="our__slider-text">
              <p>
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae,
              </p>
            </div>
          </li>

          <li class="our__slider-box our__slider-box--fifth" id="tab-5">
            <ul class="our__slider-items our__slider-items--5 ">
              <li class="our__slider-item">
                <img src="images/about/slides/4.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/5.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/6.jpg" alt="slide" class="our__slider-img">
              </li>
            </ul>

            <div class="our__slider-text">
              <p>
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae,
              </p>
            </div>
          </li>

          <li class="our__slider-box our__slider-box--sixth" id="tab-6">
            <ul class="our__slider-items our__slider-items--6 ">
              <li class="our__slider-item">
                <img src="images/about/slides/7.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/8.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/9.jpg" alt="slide" class="our__slider-img">
              </li>
            </ul>

            <div class="our__slider-text">
              <p>
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae,
              </p>
            </div>
          </li>

          <li class="our__slider-box our__slider-box--seventh" id="tab-7">
            <ul class="our__slider-items our__slider-items--7 ">
              <li class="our__slider-item">
                <img src="images/about/slides/1.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/2.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/3.jpg" alt="slide" class="our__slider-img">
              </li>
            </ul>

            <div class="our__slider-text">
              <p>
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae,
              </p>
            </div>
          </li>

          <li class="our__slider-box our__slider-box--eighth" id="tab-8">
            <ul class="our__slider-items our__slider-items--8 ">
              <li class="our__slider-item">
                <img src="images/about/slides/4.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/5.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/6.jpg" alt="slide" class="our__slider-img">
              </li>
            </ul>

            <div class="our__slider-text">
              <p>
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae,
              </p>
            </div>
          </li>

          <li class="our__slider-box our__slider-box--ninth" id="tab-9">
            <ul class="our__slider-items our__slider-items--9 ">
              <li class="our__slider-item">
                <img src="images/about/slides/7.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/8.jpg" alt="slide" class="our__slider-img">
              </li>
              <li class="our__slider-item">
                <img src="images/about/slides/9.jpg" alt="slide" class="our__slider-img">
              </li>
            </ul>

            <div class="our__slider-text">
              <p>
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada
                vitae
                egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus. Eu nec
                vitae,
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>