<div class="header__top header__top--page">
  <div class="logo">
    <a class="logo__link" href="index.html">
      <img class="logo__img" src="images/header/logo.png" alt="logotype">
    </a>
  </div>

  <nav class="menu">
    <button class="menu__btn" type="button">
      <span></span>
    </button>

    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="/about.html">About Us</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="/services.html">Services</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="/work-page.html">Work</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="/news-page.html">News</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="/contacts-page.html">Contacts</a>
      </li>
    </ul>
  </nav>

  <ul class="header__contacts">
    <li class="header__item">
      <a class="header__contacts-link header__contacts-link--phone" href="tel:4050000000">
        <span>Call us</span>
        (405) 000-00-00
      </a>
    </li>
    <li class="header__item">
      <a class="header__contacts-link header__contacts-link--email" href="mailto:example@gmail.com">
        <span>Talk to us</span>
        example@gmail.com
      </a>
    </li>
  </ul>
</div>