<section class="partners">
  <div class="container">
    <div class="partners__wrap">
      <div class="partners-support partners-support--main">
        <div class="partners-support__top">
          <h2 class="section-title partners-support__title">Supported by 12+ partners</h2>

          <ul class="partners-support__list">
            <li class="partners-support__item">
              <img class="partners-support__img" src="images/partners/1.png" alt="Partner name">
            </li>
            <li class="partners-support__item">
              <img class="partners-support__img" src="images/partners/2.png" alt="Partner name">
            </li>
            <li class="partners-support__item">
              <img class="partners-support__img" src="images/partners/3.png" alt="Partner name">
            </li>
            <li class="partners-support__item">
              <img class="partners-support__img" src="images/partners/4.png" alt="Partner name">
            </li>
            <li class="partners-support__item">
              <img class="partners-support__img" src="images/partners/5.png" alt="Partner name">
            </li>
            <li class="partners-support__item">
              <img class="partners-support__img" src="images/partners/6.png" alt="Partner name">
            </li>
          </ul>
        </div>
      </div>


      <div class="clients">
        <ul class="clients__slider">
          <li class="clients__slide">
            <div class="clients__text">
              <h2 class="section-title clients__slide-title">What our clients are saying</h2>

              <div class="clients__avatar-box">
                <img class="clients__avatar" src="images/partners/avatar.png" alt="partner avatar">
              </div>

              <div class="clients__text">
                <p>
                  Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum
                  consequat minim
                  laboris cillum laboris voluptate minim proident exercitation ullamco.
                </p>
              </div>

              <div class="clients__name">Shawn Edwards</div>
              <div class="clients__position">Position, Company name</div>
            </div>
          </li>
          <li class="clients__slide">
            <div class="clients__text">
              <h2 class="section-title clients__slide-title">What our clients are saying</h2>

              <div class="clients__avatar-box">
                <img class="clients__avatar" src="images/partners/avatar.png" alt="partner avatar">
              </div>

              <div class="clients__text">
                <p>
                  Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum
                  consequat minim
                  laboris cillum laboris voluptate minim proident exercitation ullamco.
                </p>
              </div>

              <div class="clients__name">Shawn Edwards</div>
              <div class="clients__position">Position, Company name</div>
            </div>
          </li>
        </ul>

        <ul class="clients__img-slider">
          <li class="clients__img-slide">
            <div class="clients__img-box">
              <img class="clients__img-picture" src="images/partners/slider-img.jpg" alt="partners image">
            </div>
          </li>
          <li class="clients__img-slide">
            <div class="clients__img-box">
              <img class="clients__img-picture" src="images/partners/slider-img.jpg" alt="partners image">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>