<section class="pricing">
  <div class="container">
    <div class="pricing__text-box">
      <h2 class="section-title pricing__title">Pricing</h2>
      <div class="pricing__subtitle">
        <p>
          We offer you three categories of construction.
        </p>
      </div>
    </div>

    <div class="pricing__content">
      <ul class="pricing__list">
        <li class="pricing__item">
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">
              <p>
                Items
              </p>
            </li>
            <li class="pricing__inner-item">
              <h3 class="pricing__inner-title">basic</h3>
              <p>
                $20 per m2
              </p>
            </li>
            <li class="pricing__inner-item">
              <h3 class="pricing__inner-title">standard</h3>
              <p>
                $30 per m2
              </p>
            </li>
            <li class="pricing__inner-item">
              <h3 class="pricing__inner-title">business</h3>
              <p>
                $40 per m2
              </p>
            </li>
          </ul>
        </li>

        <li class="pricing__item">
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">
              <p>
                Installation plan
              </p>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="pricing__item">
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">
              <p>
                Planning solutions (2-3 options)
              </p>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="pricing__item">
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">
              <p>
                Lighting plan
              </p>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="pricing__item">
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">
              <p>
                Flooring plan
              </p>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="pricing__item">
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">
              <p>
                Heating floor laying scheme
              </p>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="pricing__item">
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">
              <p>
                Air conditioner zones layout
              </p>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="pricing__item">
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">
              <p>
                Visualization of each room (3-4 angles)
              </p>
            </li>
            <li class="pricing__inner-item">
              <p>
                simplified
              </p>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="pricing__item">
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">
              <p>
                Visualization of each room (3-4 angles)
              </p>
            </li>
            <li class="pricing__inner-item">
              <svg class="pricing__svg" width="20" height="14">
                <use xlink:href="images/svg-sprite/sprite.svg#big-check"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="pricing__item">
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">
              <p>
                Terms
              </p>
            </li>
            <li class="pricing__inner-item">
              <p>
                10 days
              </p>
            </li>
            <li class="pricing__inner-item">
              <p>
                20 days
              </p>
            </li>
            <li class="pricing__inner-item">
              <p>
                30 days
              </p>
            </li>
          </ul>
        </li>
        <li class="pricing__item">
          <ul class="pricing__inner-list">
            <li class="pricing__inner-item">

            </li>
            <li class="pricing__inner-item">
              <button class="pricing__btn button button--stroke">send request</button>
            </li>
            <li class="pricing__inner-item">
              <button class="pricing__btn button button--stroke">send request</button>
            </li>
            <li class="pricing__inner-item">
              <button class="pricing__btn button button--stroke">send request</button>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="partners-support">
      <div class="partners-support__top">
        <h2 class="section-title partners-support__title">Supported by 12+ partners</h2>

        <ul class="partners-support__list">
          <li class="partners-support__item">
            <img class="partners-support__img" src="images/partners/1.png" alt="Partner name">
          </li>
          <li class="partners-support__item">
            <img class="partners-support__img" src="images/partners/2.png" alt="Partner name">
          </li>
          <li class="partners-support__item">
            <img class="partners-support__img" src="images/partners/3.png" alt="Partner name">
          </li>
          <li class="partners-support__item">
            <img class="partners-support__img" src="images/partners/4.png" alt="Partner name">
          </li>
          <li class="partners-support__item">
            <img class="partners-support__img" src="images/partners/5.png" alt="Partner name">
          </li>
          <li class="partners-support__item">
            <img class="partners-support__img" src="images/partners/6.png" alt="Partner name">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>