<div class="project-goal">
  <div class="container">
    <div class="project-goal__inner">
      <div class="project-goal__item">
        <h3 class="project-goal__title">Project goal</h3>
        <div class="project-goal__text">
          <p>
            Build a private house 840 sq. feet with a large living room, three bedrooms, two bathrooms, a terrace, a
            pool
            and
            a garage for two cars.
          </p>
          <p>
            Modern design and care for each family member to feel as comfortable as possible in the new home.
          </p>
        </div>
      </div>

      <div class="project-goal__item">
        <ul class="project-goal__list project-goal__list--bold">
          <li class="project-goal__data-item">location</li>
          <li class="project-goal__data-item">client</li>
          <li class="project-goal__data-item">architect</li>
          <li class="project-goal__data-item">size</li>
          <li class="project-goal__data-item">value</li>
          <li class="project-goal__data-item">completed</li>
        </ul>

        <ul class="project-goal__list">
          <li class="project-goal__data-item">2464 Royal Ln. Mesa, New Jersey</li>
          <li class="project-goal__data-item">Darlene Robertson</li>
          <li class="project-goal__data-item">HIK Architecture</li>
          <li class="project-goal__data-item">840 sq. feet</li>
          <li class="project-goal__data-item">$2 million</li>
          <li class="project-goal__data-item">May 2020</li>
        </ul>
      </div>
    </div>
  </div>
</div>