<section class="question">
  <div class="container">
    <div class="question__inner">
      <h3 class="question__title">Want to know more? Ask us a question:</h3>
      <form class="form question__form">
        <div class="form__input-box">
          <label class="form__label"">
            <span>Name</span>
            <input class=" form__input" id="form-name" type="text" placeholder="Your name">
          </label>
        </div>
        <div class="form__input-box">
          <label class="form__label"">
            <span>Phone</span>
            <input class=" form__input" id="form-phone" type="tel" placeholder="Your phone">
          </label>
        </div>
        <div class="form__input-box form__input-box--message">
          <label class="form__label">
            <span>Message</span>
            <textarea class="form__message" id="form-message" placeholder="Your message"></textarea>
          </label>
        </div>
        <button class="button button--fill question__btn" type="submit">send</button>
      </form>
    </div>
  </div>
</section>