<section class="services">
  <div class="container">
    <div class="services__top">
      <h2 class="section-title services__title">Our services</h2>
      <div class="section-subtitle services__subtitle">
        <p>
          Createx Construction Bureau is a construction giant with a full range of construction services.
        </p>
      </div>
    </div>
    <ul class="services__items">
      <li class="services__item">
        <a class="services__inner" href="#">
          <svg class="services__svg" width="52" height="52">
            <use xlink:href="images/svg-sprite/sprite.svg#brick"></use>
          </svg>
          <span>Construction</span>
        </a>
      </li>
      <li class="services__item">
        <a class="services__inner" href="#">
          <svg class="services__svg" width="52" height="52">
            <use xlink:href="images/svg-sprite/sprite.svg#plan"></use>
          </svg>
          <span>Project Development</span>
        </a>
      </li>
      <li class="services__item">
        <a class="services__inner" href="#">
          <svg class="services__svg" width="52" height="52">
            <use xlink:href="images/svg-sprite/sprite.svg#pantone"></use>
          </svg>
          <span>Interior Design</span>
        </a>
      </li>
      <li class="services__item">
        <a class="services__inner" href="#">
          <svg class="services__svg" width="52" height="52">
            <use xlink:href="images/svg-sprite/sprite.svg#painting"></use>
          </svg>
          <span>Repairs</span>
        </a>
      </li>
    </ul>

    <div class="section-linkbox">
      <div class="section-linkbox__text">Learn more about our services</div>
      <a class="button button--fill section-linkbox__btn" href="#">View services</a>
    </div>
  </div>
</section>