<section class="video">
  <div class="container">
    <h2 class="section-title video__title">We are Createx Construction Bureau</h2>
    <div class="section-subtitle video__text">
      <p>
        We are rightfully considered to be the best construction company in the USA.
      </p>
    </div>

    <div class="video__box">
      <div class="video__img">
        <img class="video__bg" src="images/video/video-bg.jpg" alt="video preview">
        <a class="video__link" data-fancybox href="https://youtu.be/MEFzML_CcPE">
          <svg class="video__play" width="26" height="26">
            <use xlink:href="images/svg-sprite/sprite.svg#play"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>