.decisions {
  padding: 80px 114px;
  background-color: $bg;
  margin-bottom: 180px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img-box {
    margin-bottom: -140px;
  }

  &__img {
    width: 495px;
    height: 550px;
    border-radius: 4px;
    object-fit: cover;
  }

  &__content {
    max-width: 600px;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__item {
    color: $menu-text;
    line-height: 1.62;
    margin-bottom: 20px;
    padding-left: 36px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../images/ico/checked.svg);
    }
  }
}
