.recent-news {
  margin-bottom: 120px;

  @media (max-width: 576px) {
    margin-bottom: 80px;
  }

  @media (max-width: 480px) {
    margin-bottom: 40px;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    @media (max-width: 1200px) {
      justify-content: center;
      flex-wrap: wrap;
    }

    @media (max-width: 576px) {
      margin-bottom: 60px;
    }

    @media (max-width: 480px) {
      margin-bottom: 40px;
    }
  }

  &__item-large {
    max-width: 705px;
    margin-right: 20px;

    @media (max-width: 1200px) {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  &__item-short {
    max-width: 495px;

    .recent-news__text-block {
      padding: 14px 24px 24px;
    }

    .recent-news__item-title {
      margin-bottom: 8px;
    }

    .recent-news__info {
      margin-bottom: 0;
    }

    @media (max-width: 1200px) {
      max-width: 705px;
      width: 100%;
    }
  }

  &__post {
    border-radius: 4px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    margin-bottom: 30px;
    transition: box-shadow 0.5s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1),
        0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    }
  }

  &__img {
    width: 100%;
  }

  &__text-block {
    width: 100%;
    padding: 24px;
    background-color: #fff;
  }

  &__item-title {
    font-size: 20px;
    line-height: 1.5;
    color: $title;
    font-weight: 700;
    margin-bottom: 12px;
    transition: color 0.5s;

    &:hover {
      color: $accent;
    }
  }

  &__info {
    display: flex;
    margin-bottom: 16px;

    @media (max-width: 480px) {
      display: block;
    }
  }

  &__item {
    margin-right: 12px;
    padding-right: 12px;
    position: relative;
    color: $light-text;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 12px;
      background-color: $light-text;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &::after {
        display: none;
      }
    }

    @media (max-width: 480px) {
      margin-bottom: 5px;

      &::after {
        display: none;
      }
    }
  }

  &__item-link {
    color: inherit;
  }
}
