.how-work {
  margin-bottom: 120px;

  &__title {
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    width: 285px;
    margin: 0 15px;

    &:hover {
      .how-work__num {
        color: $accent;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 84px;
          height: 84px;
          left: -17px;
          top: -12px;
          border-radius: 50%;
          background-color: $accent;
          opacity: 0.12;
          transition: background-color 0.5s;
        }

        &::after {
          content: "";
          position: absolute;
          width: 116px;
          height: 116px;
          left: -33px;
          top: -28px;
          border-radius: 50%;
          background-color: $accent;
          opacity: 0.06;
          transition: opacity 0.5s;
        }
      }
    }
  }

  &__num-box {
    display: flex;
    align-items: center;
  }

  &__num {
    margin-right: 23px;
    font-size: 46px;
    line-height: 1.3;
    color: $input-border;
    font-weight: 700;
    transition: color 0.5s;
    margin-bottom: 16px;
  }

  &__item-title {
    font-size: 20px;
    color: $title;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__text {
    color: $light-text;
  }
}
